@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'toastify-js/src/toastify.css';

@layer base {
  // fix: mui Button 的样式被 tailwind base 覆盖掉了
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    background-color: $color-primary-main;
  }
}

html {
  // https://www.zhihu.com/question/37593717/answer/82327127
  font-family:
    // System Font            // https://www.webkit.org/blog/3709/using-the-system-font-in-web-content/
    -apple-system,
    // OSX ^10.11 & iOS ^9  San Francisco & 苹方
    // English First
    'Helvetica Neue',
    // OSX
    'Arial',
    // Win "Helvetica"
    //" Segoe UI",            // Win ^8
    // Chinese Fallback
    'PingFang SC',
    // OSX ^10.11 & iOS ^9  苹方（华康信凭黑）
    'Hiragino Sans GB',
    // OSX ^10.6            冬青黑体
    'STHeiti',
    // OSX <10.6  & iOS <9  华文黑体
    'Microsoft YaHei',
    // Win                  微软雅黑
    'Microsoft JhengHei',
    // Win                  微软正黑
    'Source Han Sans SC',
    // SourceHan - begin    思源黑体
    'Noto Sans CJK SC',
    'Source Han Sans CN', 'Noto Sans SC', 'Source Han Sans TC',
    'Noto Sans CJK TC',
    // SourceHan - end
    'WenQuanYi Micro Hei',
    // Linux                文泉驿微米黑
    SimSun,
    // Win old              中易宋体
    sans-serif; // System Fallback
  line-height: 1.5;
  background-color: $color-white-9;
}

// overrides toastify-js
.toastify {
  border-radius: 4px;
  color: white;
  background: $color-primary-main;
  box-shadow: 0 3px 16px -1px $color-primary-light;
}
