.anchor {
  cursor: pointer;
  color: $color-primary-main;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.underlineOnHover:hover {
  text-decoration: underline;
}

@include device('desktop') {
  .anchor.usePrimaryColorWhenhover {
    &:hover {
      color: $color-primary-dark;
    }
    &:active {
      color: $color-primary-light;
    }
  }
}

@include device('mobile', 'tablet') {
  .anchor.usePrimaryColorWhenhover {
    &:active {
      color: $color-primary-light;
    }
  }
}
