.trigger {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  cursor: grab;
}

.target {
  position: fixed;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  background-color: #ddd;
  background-image: url(../../assets/lenna.png);
  background-size: cover;
}
