/* .trigger {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  cursor: grab;
} */

.target {
  position: fixed;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  background-color: #ddd;
  background-image: url(../../assets/lenna.jpg);
  background-size: cover;
  cursor: grab;
}
