$size: 200px;

.root {
  position: relative;
  padding: 16px;
}

.wheelWrapper {
  position: relative;
  width: $size;
  height: $size;
  border-radius: 100%;
  background-color: #eeeeee;
}

.shouldStopAt {
  position: absolute;
  width: calc($size / 2);
  left: 50%;
  top: 50%;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  transform-origin: 0 center;
}

.curDeg {
  position: absolute;
  width: calc($size / 2);
  left: 50%;
  top: 50%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transform-origin: 0 center;
}

.trigger {
  position: relative;
  padding: 4px 1em;
  left: calc($size / 2);
  margin: 1em 0;
  transform: translate(-50%);
}
