@mixin onCardHover {
  background-color: white;
  box-shadow: 0 0 20px $color-black-2;
  .title {
    text-decoration: underline;
  }
}

@mixin onTagHover {
  background-color: $color-primary-3;
}

.card {
  position: relative;
  width: 100%;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(white, 0.5);
  box-shadow: 0 0 10px $color-black-1;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  flex: 0 0 auto;
  background-color: $color-primary-2;
  overflow: hidden;
}

.image {
  object-fit: cover;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding: 8px;
  width: 100%;
  overflow-x: auto;
}

.title {
  font-weight: bold;
  flex: 0 0 auto;
  color: $color-primary-dark;
}

.description {
  @apply text-sm;
  flex: 1 1 auto;
  padding-top: 8px;
  color: $color-primary-5;
}

.innerDescription {
  @apply line-clamp-3;
}

.footer {
  @apply text-xs scrollbar-thin scrollbar-track-b-100;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $color-primary-5;
  transition: color 0.5s;
  width: 100%;
  // 让键盘导航时 active border 不至于被裁剪
  padding: 2px 0;
  overflow-x: auto;
}

.tag {
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: $color-primary-1;
  transition: background-color 0.5s;
}

@include device('mobile') {
  .card:active {
    @include onCardHover();
  }
  .tag:active {
    @include onTagHover();
  }
  .image {
    width: 110px;
    height: 136px;
  }
}

@include device('tablet') {
  .card:active {
    @include onCardHover();
  }
  .content {
    padding-left: 16px;
  }
  .tag:active {
    @include onTagHover();
  }
  .image {
    width: 136px * 1.5;
    height: 136px;
  }
}

@include device('desktop') {
  .card:hover {
    @include onCardHover();
  }
  .content {
    padding-left: 16px;
  }
  .tag:hover {
    @include onTagHover();
  }
  .image {
    width: 166px * 1.5;
    height: 166px;
  }
}
