$size: 100px;

.root {
  position: relative;
  display: inline-block;
  width: $size;
  height: $size;
  overflow: hidden;
  background-color: #eee;

  .remove {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
